android/.metadata
android/RollAndDie/Market
bin/

Temp
Ray

Ray1/Debug
Ray1/Release

Misc/Try
Misc/TryDispatch

Terrain/Output
Terrain/Data/Textures
Terrain/Project
Terrain/*.doc
*.ter

SOS/Output
SOS/Project

julia/data
julia/misc

gr/project
gr/project_linux

EveJew/Mosaic_1.2_112318
julia/EveInvent/cache
julia/EveInvent/*.json
blueprints.json
result.txt
IndustryFormulas.pdf

*.spv

.vs/
x64/
ipch/
*.suo
*.sdf
*.opendb
*.db

bin/
obj/
*.layout