android/.metadata
android/RollAndDie/Market
bin/

Temp
Ray

Terrain/Output
Terrain/Data/Textures
Terrain/Project
Terrain/*.doc
*.ter

SOS/Output
SOS/Project

julia/data
julia/misc

EveJew/Mosaic_1.2_112318
julia/EveInvent/cache
julia/EveInvent/*.json
blueprints.json
result.txt
IndustryFormulas.pdf

x64/
ipch/
*.suo
*.sdf
*.opendb